<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 01.07.2017, 17:35</p>
      <h2><a href="">My first post</a></h2>
      <p>to moj pierwszy post. lubie nauke programowania. inpo przez aplikacje sololearn nauczylem sie html, css, javascript, ruby, a teraz ucze sie pythona i django.</p>
    </div>

    <div>
      <p>published: 01.07.2017, 17:35</p>
      <h2><a href="">My secound post</a></h2>
      <p>w przyszłości chce zajmować się cyberbezpieczeństwerm. od pazdziernika równolegle do moich studiów magisterskich zaczynam podyplomowo cyberbezpieczeństwo na AMW</p>
    </div>
  </body>
</html>
